.main {
    font-family: Helvetica, Arial, Tahoma, sans-serif;
    height: 1200px;
    width:1000px;
    border: 1px solid whitesmoke;
    margin: 30px;
    display: flex;
    flex-direction: row;

}

.left {
    width:500px;
    margin-left: 25px;

}

.infor_space {
    padding: 50px 0px;
}

.infor_img {
    border: 2px solid black;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: auto;
}

img {
    
    width: 130px;
    height: 130px;
    border-radius: 50%;
}

.infor_name {
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    padding: 10px;
}

.infor_content {
    word-spacing: 1px;
    font-size: 14px;
    line-height: 15px;
}

.text-deco1 {
    
    text-align: center;
    color: cornflowerblue;
    font-size: 21px;
}

.text-deco2 {
    font-size: large;
    font-weight: 700;
}

.text-deco3 {
    font-size: larger;
    font-weight: 700;
}

.right {
    width: 100%;
    background: aliceblue;
}

.crossbar {
    display: flex;
    flex-direction: row;
}

.crossbar_icon {
    display: flex;
    flex-direction: column;
    background: cornflowerblue;
    margin: 2px 9px;
    border-radius: 15px;
    padding: 3px 8px;
   
    
}

p.text-deco2 {
    margin: 5px 0px;
}

.crossbar_info {
    padding: 0px 10px;
    margin-top: 46px;
}

span.material-symbols-outlined {
    padding: 0px 16px;
    transform: rotate(0deg);
    padding: 20px 0px;
}

.birth {
    margin: -28px 0px;

}
 div .text-deco2 {
    margin: 10px 0px;
 }

 div p:nth-child(2){
    margin: 0px;
    padding: 0px;
 }
 .call {
    /* margin: 0px 0px; */
    padding: 44px 0px;
}

.email {
    margin: -26px 0px;
    padding: -91px 0px;
}

.website {
    padding: 43px 0px;
}

.address {
    margin: -27px 0px;
}

.gender {
    padding: 39px 0px;
}

.education {
    margin: 55px 70px;
}

.text_deco3 {
    font-size: larger;
    font-weight: 700;
    padding-bottom: 12px;
    text-align: center;
}


.school {
    display: flex;
}

.univer {
    font-weight: 550;
    padding-right: 13px;
    border-right: 1px solid;
}

.semester {
    padding-left: 10px;
}

.skills {
    margin: 55px 70px;
}

.Certificate {
    margin: 55px 70px;
}
